%iframe{ :id => embed.youtube_id, :height => 500, :width => 800, :src => "http://www.youtube.com/embed/#{embed.youtube_id}?showinfo=0&enablejsapi=1&playerapiid=#{embed.youtube_id}", :frameborder => 0, :allowFullscreen => "true" }

