.addthis_toolbox.addthis_default_style
	.fuck_you_i_win
		%a.addthis_button_preferred_1
		%a.addthis_button_preferred_2
		%a.addthis_button_preferred_3
		%a.addthis_button_preferred_4
		%a.addthis_button_compact
		%a.addthis_counter.addthis_bubble_style
%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=oberlincollege", :type => "text/javascript"}