%iframe{ :id => slider_embed.youtube_id, :height => 360, :width => 480, :src => "http://www.youtube.com/embed/#{slider_embed.youtube_id}?enablejsapi=1&autoplay=1&playerapiid=#{slider_embed.youtube_id}", :frameborder => 0, :allowFullscreen => "true" }

