:javascript
  function onYouTubePlayerReady ( playerapiid ) {
    alert ( playerapiid );
  }
%iframe{ :id => slider_embed.youtube_id, :height => 360, :width => 480, :src => "http://www.youtube.com/embed/#{slider_embed.youtube_id}?autoplay=1&enablejsapi=1&playerapiid=#{slider_embed.youtube_id}", :frameborder => 0, :allowFullscreen => "true", :allowScriptAccess => "always" }

