%div.embed-wrapper
	= render :partial => 'video_data', :object => @video, :as => :video
	.clear

.tag-wrapper
	%header.tag-header
		%hgroup
			%h1
				related videos				
	= render :partial => 'five_videos', :object => @video.related_videos, :as => :videos

//= render :partial => 'thumbnail', :collection => @video.related_videos, :as => :video
