%div{ :style => "padding-left: 120px; margin: 100px" }
  = form_tag( "/tag/update_homepage", :method => "post" ) do
    - @tags.each do |tag|
      %div{ :style => "float: left; width: 210px; margin-bottom: 5px;" }
        = text_field_tag tag.id,"", :size => 1, :maxlength => 1
        = label_tag tag.id, tag.name
    .clear
    = submit_tag "Update"

