li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background-image: url("body-bg.png"); }
  body #body-wrapper {
    background-image: url("body-wrapper-bg.png"); }
    body #body-wrapper header#preheader-band {
      background-color: black;
      width: 100%;
      height: 50px; }

#page-wrapper-wrapper {
  background-color: rgba(0, 0, 0, 0.25); }
  #page-wrapper-wrapper #page-wrapper {
    background-image: url("bg.png");
    padding-bottom: 90px; }
    #page-wrapper-wrapper #page-wrapper nav#top {
      background-color: rgba(255, 255, 255, 0.25);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      height: 50px; }
      #page-wrapper-wrapper #page-wrapper nav#top ul {
        background-color: rgba(255, 255, 255, 0.25);
        float: left;
        margin-left: 100px;
        height: 50px; }
        #page-wrapper-wrapper #page-wrapper nav#top ul li {
          color: black;
          float: left;
          font-family: "helvetica neue";
          font-size: 12px;
          font-weight: 300;
          text-align: center;
          line-height: 50px;
          margin-right: 10px;
          width: 90px;
          height: 50px; }
        #page-wrapper-wrapper #page-wrapper nav#top ul li:hover {
          background-color: rgba(100, 0, 0, 0.75); }
        #page-wrapper-wrapper #page-wrapper nav#top ul li:last-child {
          margin-right: 0; }
      #page-wrapper-wrapper #page-wrapper nav#top form#search-form-wrapper {
        float: left;
        margin-left: 100px;
        width: 350px;
        height: 50px; }
        #page-wrapper-wrapper #page-wrapper nav#top form#search-form-wrapper input#search-form {
          background-color: rgba(255, 255, 255, 0.25);
          border: none;
          float: left;
          font-family: "helvetica neue";
          font-size: 12px;
          font-weight: 300;
          line-height: 50px;
          margin-left: 10px;
          padding: 0 10px;
          text-align: center;
          width: 220px;
          height: 50px; }
        #page-wrapper-wrapper #page-wrapper nav#top form#search-form-wrapper input#go-button {
          background-color: rgba(255, 255, 255, 0.5);
          border: none;
          float: left;
          font-family: "helvetica neue";
          font-size: 12px;
          font-weight: 300;
          margin-left: 10px;
          width: 90px;
          height: 50px; }
    #page-wrapper-wrapper #page-wrapper header#primary-header {
      background-color: rgba(0, 0, 0, 0.8);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      float: right;
      margin-right: 10px;
      margin-top: 50px;
      width: 290px;
      height: 50px; }
      #page-wrapper-wrapper #page-wrapper header#primary-header hgroup h1 {
        color: white;
        font-family: "bebas neue";
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase; }
    #page-wrapper-wrapper #page-wrapper #slider-wrapper {
      background-color: rgba(0, 0, 0, 0.8);
      border-bottom: 10px solid rgba(100, 0, 0, 0.5);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      height: 525px; }
      #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider {
        background-color: black;
        border-radius: 25px;
        float: left;
        margin-top: 25px;
        margin-left: 110px;
        overflow: hidden;
        width: 540px;
        height: 425px; }
        #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide {
          float: left;
          margin-left: 30px;
          padding-top: 32px;
          position: relative;
          width: 480px;
          height: 360px; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide .slide-cover {
            position: absolute;
            width: 480px;
            height: 360px;
            z-index: 4; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide img {
            width: 460px;
            height: 380px;
            position: absolute;
            display: none; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide .gloss {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 480px;
            height: 360px;
            z-index: 2; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide hgroup {
            background-color: rgba(0, 0, 0, 0.25);
            padding: 5px 10px 15px 10px;
            position: absolute;
            bottom: 0;
            width: 460px;
            z-index: 3; }
            #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide hgroup h1 {
              color: white;
              font-family: "helvetica neue";
              font-size: 40px;
              font-weight: 800;
              line-height: 40px; }
            #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide hgroup h2 {
              color: white;
              font-family: "helvetica neue";
              font-size: 15px;
              font-weight: 300;
              margin-top: 10px; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide canvas {
            position: absolute;
            z-index: 1; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #slider .slide object {
            margin-left: 25px; }
      #page-wrapper-wrapper #page-wrapper #slider-wrapper .control {
        cursor: pointer;
        float: left;
        margin-top: 150px;
        width: 0; }
      #page-wrapper-wrapper #page-wrapper #slider-wrapper #left-control {
        border-bottom: 100px solid transparent;
        border-top: 100px solid transparent;
        border-right: 40px solid white;
        margin-left: 50px; }
      #page-wrapper-wrapper #page-wrapper #slider-wrapper #right-control {
        border-bottom: 100px solid transparent;
        border-top: 100px solid transparent;
        border-left: 40px solid white;
        margin-left: 110px; }
      #page-wrapper-wrapper #page-wrapper #slider-wrapper #dots-wrapper {
        margin: 25px auto;
        height: 25px; }
        #page-wrapper-wrapper #page-wrapper #slider-wrapper #dots-wrapper #dots {
          float: left;
          margin: 0 auto; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #dots-wrapper #dots .dot:first-child {
            margin-left: 0; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #dots-wrapper #dots .dot {
            background-color: transparent;
            border: 1px solid white;
            float: left;
            margin-top: 4px;
            margin-left: 34px;
            width: 14px;
            height: 14px; }
          #page-wrapper-wrapper #page-wrapper #slider-wrapper #dots-wrapper #dots #current-dot {
            background-color: #640000; }
    #page-wrapper-wrapper #page-wrapper header#featured-tag-wrapper {
      background-color: rgba(0, 0, 0, 0.8);
      border-bottom: 10px solid rgba(100, 0, 0, 0.5);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      float: left;
      margin-left: 10px;
      width: 290px;
      height: 50px; }
      #page-wrapper-wrapper #page-wrapper header#featured-tag-wrapper hgroup h1 {
        color: white;
        font-family: "bebas neue";
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase; }
    #page-wrapper-wrapper #page-wrapper .tag-wrapper {
      background-color: rgba(0, 0, 0, 0.8);
      border-bottom: 10px solid rgba(100, 0, 0, 0.5);
      border-radius: 25px;
      float: left;
      margin-left: 60px;
      margin-top: 40px;
      width: 390px;
      height: 500px; }
      #page-wrapper-wrapper #page-wrapper .tag-wrapper header.tag-header {
        background-color: rgba(100, 0, 0, 0.5);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-bottom: 25px;
        width: 390px;
        height: 50px; }
        #page-wrapper-wrapper #page-wrapper .tag-wrapper header.tag-header hgroup h1 {
          color: white;
          font-family: "bebas neue";
          font-size: 35px;
          font-weight: 400;
          text-align: center;
          line-height: 50px; }
      #page-wrapper-wrapper #page-wrapper .tag-wrapper ul {
        margin-top: 10px; }
        #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li {
          margin-bottom: 60px; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li hgroup h1 {
            color: #c8c8c8;
            font-family: "helvetica neue";
            font-size: 20px;
            margin-right: 20px;
            text-align: right; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li hgroup h2 {
            color: #c8c8c8;
            font-family: "helvetica neue";
            font-size: 12px;
            font-weight: 300;
            margin: 10px; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li img {
            border: 5px solid black;
            border-radius: 10px;
            float: left;
            margin: 5px 10px; }
