* {
  line-height: 100%; }

li {
  list-style-type: none; }

h1 {
  color: black;
  font-family: "helvetica neue";
  font-weight: 800; }

h2 {
  font-family: "helvetica neue";
  font-weight: 300; }

body {
  background: url("lines.png"); }

header#preheader {
  background-color: black;
  width: 100%;
  height: 50px; }

header#primary {
  border-bottom: 5px solid black;
  padding-top: 50px; }
  header#primary hgroup {
    height: 55px; }
    header#primary hgroup h1 {
      font-size: 50px;
      margin-bottom: 5px; }
  header#primary nav #search-wrapper {
    float: right;
    width: 460px;
    height: 25px; }
  header#primary nav ul {
    float: right; }
    header#primary nav ul li {
      border-top: 5px solid transparent;
      display: block;
      font-family: "helvetica neue";
      font-size: 15px;
      float: left;
      height: 15px;
      line-height: 20px;
      margin-right: 20px;
      text-transform: uppercase; }
    header#primary nav ul li:last-child {
      margin-right: 0; }
    header#primary nav ul li.current-page {
      border-top: 5px solid black; }
    header#primary nav ul li:hover {
      border-top: 5px solid #646464; }

header#slider-wrapper {
  margin: 50px 240px;
  overflow: hidden;
  width: 480px;
  height: 360px; }
  header#slider-wrapper #slider {
    overflow: hidden;
    height: 360px;
    width: 480px; }
    header#slider-wrapper #slider .slide {
      background-color: black;
      width: 480px;
      height: 360px; }
      header#slider-wrapper #slider .slide hgroup {
        position: absolute;
        width: 480px;
        z-index: 2; }
        header#slider-wrapper #slider .slide hgroup h1 {
          color: #c8c8c8;
          font-size: 25px;
          padding: 10px 20px;
          padding-bottom: 0px; }
        header#slider-wrapper #slider .slide hgroup h2 {
          color: #c8c8c8;
          font-size: 14px;
          line-height: 17px;
          padding: 10px 20px; }
      header#slider-wrapper #slider .slide canvas {
        position: absolute;
        width: 480px;
        height: 360px;
        z-index: 1; }
      header#slider-wrapper #slider .slide .embed {
        margin-left: 28px;
        position: absolute;
        width: 425px;
        height: 360px; }
