h1,
h2,
h3,
h4,
h5,
li {
  font-family: "helvetica neue";
  font-weight: 100; }

li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

header#preheader-band {
  background-color: black;
  box-shadow: 0px 2px 2px black;
  width: 100%;
  height: 50px; }

#page-wrapper-wrapper {
  background-color: rgba(0, 0, 0, 0.25); }
  #page-wrapper-wrapper #page-wrapper {
    background-image: url("body-wrapper-bg.png");
    padding-bottom: 90px; }
    #page-wrapper-wrapper #page-wrapper header#primary-header nav#top {
      background-color: rgba(0, 0, 0, 0.15);
      height: 80px; }
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top hgroup,
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul,
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper {
        float: left; }
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top hgroup {
        margin-left: 10px;
        width: 470px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top hgroup h1 {
          color: #320000;
          font-size: 68px;
          line-height: 80px;
          text-align: left; }
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper {
        margin-top: 30px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper input#search-form,
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper input#go-button {
          border: none;
          cursor: pointer;
          float: left;
          height: 25px;
          margin-left: 10px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper input#search-form {
          font-size: 15px;
          font-weight: 100;
          line-height: 25px;
          padding: 0 10px;
          text-align: left;
          width: 405px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top form#search-form-wrapper input#go-button {
          background-color: #320000;
          width: 25px; }
      #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul {
        margin-right: 10px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul li:hover {
          background-color: #320000; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul li {
          background-color: rgba(0, 0, 0, 0.15);
          color: white;
          cursor: pointer;
          display: block;
          float: right;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
          line-height: 50px;
          margin-left: 10px;
          width: 227.5px;
          height: 50px; }
          #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul li ul {
            background-color: #320000;
            display: none;
            right: 10;
            position: absolute;
            width: 227.5px;
            z-index: 4; }
            #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul li ul li {
              text-transform: lowercase;
              font-size: 15px; }
        #page-wrapper-wrapper #page-wrapper header#primary-header nav#top ul li#banner-tab-1 {
          background-color: #320000; }
    #page-wrapper-wrapper #page-wrapper header.folder-header {
      cursor: pointer;
      float: right;
      margin-right: 10px;
      margin-top: 40px;
      width: 227.5px;
      height: 50px; }
      #page-wrapper-wrapper #page-wrapper header.folder-header hgroup h1 {
        color: white;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase; }
    #page-wrapper-wrapper #page-wrapper header#folder-header-1 {
      background-color: rgba(0, 0, 0, 0.8); }
    #page-wrapper-wrapper #page-wrapper header#folder-header-2 {
      background-color: rgba(0, 0, 0, 0.7); }
    #page-wrapper-wrapper #page-wrapper header#folder-header-3 {
      background-color: rgba(0, 0, 0, 0.6); }
    #page-wrapper-wrapper #page-wrapper header#folder-header-4 {
      background-color: rgba(0, 0, 0, 0.5); }
    #page-wrapper-wrapper #page-wrapper #slider-wrapper-1 {
      background-color: rgba(0, 0, 0, 0.8); }
    #page-wrapper-wrapper #page-wrapper #slider-wrapper-2 {
      background-color: rgba(0, 0, 0, 0.7); }
    #page-wrapper-wrapper #page-wrapper #slider-wrapper-3 {
      background-color: rgba(0, 0, 0, 0.6); }
    #page-wrapper-wrapper #page-wrapper #slider-wrapper-4 {
      background-color: rgba(0, 0, 0, 0.5); }
    #page-wrapper-wrapper #page-wrapper .slider-wrapper {
      border-bottom: 10px solid #320000;
      display: none;
      height: 550px; }
      #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider {
        background-color: black;
        float: left;
        margin-top: 50px;
        margin-left: 110px;
        overflow: hidden;
        width: 540px;
        height: 425px; }
        #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide {
          float: left;
          margin-left: 30px;
          padding-top: 32px;
          position: relative;
          width: 480px;
          height: 360px; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide .slide-cover {
            position: absolute;
            width: 480px;
            height: 360px;
            z-index: 4; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide img {
            width: 460px;
            height: 380px;
            position: absolute;
            display: none; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide .gloss {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 480px;
            height: 360px;
            z-index: 2; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide hgroup {
            background-color: rgba(0, 0, 0, 0.25);
            padding: 5px 10px 15px 10px;
            position: absolute;
            bottom: 0;
            width: 460px;
            z-index: 3; }
            #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide hgroup h1 {
              color: white;
              font-size: 40px;
              font-weight: 800;
              line-height: 40px; }
            #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide hgroup h2 {
              color: white;
              font-size: 15px;
              font-weight: 300;
              margin-top: 10px; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide canvas {
            position: absolute;
            z-index: 1; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .slider .slide object {
            margin-left: 25px; }
      #page-wrapper-wrapper #page-wrapper .slider-wrapper .control {
        border-bottom: 100px solid transparent;
        border-top: 100px solid transparent;
        cursor: pointer;
        float: left;
        margin-top: 150px;
        width: 0;
        height: 0; }
      #page-wrapper-wrapper #page-wrapper .slider-wrapper .left-control {
        border-right: 40px solid white;
        margin-left: 50px; }
      #page-wrapper-wrapper #page-wrapper .slider-wrapper .right-control {
        border-left: 40px solid white;
        margin-left: 110px; }
      #page-wrapper-wrapper #page-wrapper .slider-wrapper .dots-wrapper {
        margin: 25px auto;
        height: 25px; }
        #page-wrapper-wrapper #page-wrapper .slider-wrapper .dots-wrapper .dots {
          display: block;
          float: left;
          margin: 0 auto;
          position: relative; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .dots-wrapper .dots .dot:first-child {
            margin-left: 0; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .dots-wrapper .dots .dot {
            background-color: transparent;
            border: 1px solid white;
            float: left;
            margin-top: 4px;
            margin-left: 34px;
            width: 14px;
            height: 14px; }
          #page-wrapper-wrapper #page-wrapper .slider-wrapper .dots-wrapper .dots #current-dot {
            background-color: #320000; }
    #page-wrapper-wrapper #page-wrapper .current {
      display: block; }
    #page-wrapper-wrapper #page-wrapper .tag-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
      border-bottom: 10px solid #320000;
      margin-top: 90px;
      position: relative;
      width: 960px;
      height: 230px; }
      #page-wrapper-wrapper #page-wrapper .tag-wrapper header.tag-header {
        background-color: rgba(0, 0, 0, 0.7);
        display: block;
        margin-top: -50px;
        margin-left: 10px;
        position: absolute;
        width: 455px;
        height: 50px; }
        #page-wrapper-wrapper #page-wrapper .tag-wrapper header.tag-header hgroup h1 {
          color: white;
          font-size: 25px;
          letter-spacing: 1px;
          line-height: 50px;
          text-align: center;
          text-transform: uppercase; }
      #page-wrapper-wrapper #page-wrapper .tag-wrapper ul {
        padding-top: 10px; }
        #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li {
          float: left;
          margin-left: 10px;
          width: 180px; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li a .tab-slide-cover {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 180px;
            height: 135px; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li a .tab-slide-cover:hover {
            background-color: transparent; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li a img {
            width: 180px; }
          #page-wrapper-wrapper #page-wrapper .tag-wrapper ul li hgroup h1 a {
            color: #c8c8c8;
            font-weight: 300; }
