<!DOCTYPE html>
%html
	%head
		%title
			Videos.Oberlin
		= stylesheet_link_tag "reset", "960", "application"
		= javascript_include_tag "jquery", "application"
		= csrf_meta_tags
	%body
		%header#preheader
		%header#primary.container_16
			%hgroup.grid_8
				%h1
					Videos.Oberlin
			%nav.grid_8
				#search-wrapper
				%ul
					%li.current-page
						home
					%li
						featured
					%li
						tags
					%li
						oberlin
		#page-wrapper.container_16
			= yield
